In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Clustere_Dataset_1.csv')
df = df.drop('Unnamed: 0', axis =1)
df.columns = df.columns.str.replace(' ', '_')
df.head()

,Day_Mins,Day_Calls,Day_Charge,Eve_Mins,Eve_Calls,Eve_Charge,Night_Mins,Night_Calls,Night_Charge,Intl_Mins,Intl_Calls,Intl_Charge,Cluster
0,469.80,90,48.480,486.0,488,48.4600,440.8,406,9.490,44.60,6,8.48,13
1,282.20,328,26.320,296.8,286,26.6900,326.2,209,20.200,8.20,8,2.32,21
2,202.00,224,22.420,224.4,242,9.3400,244.3,204,4.290,22.20,4,4.04,1
3,282.20,92,28.820,262.2,98,28.2800,286.9,86,22.920,22.20,2,8.00,0
4,222.11,26,22.211,222.2,222,211.1111,2110.2,2211,22.211,211.11,11,2.29,24

In [3]:
df.to_csv('Clustereddata.csv')

In [ ]:
# Group by the 'cluster' column
grouped_df = df.groupby('Cluster')

In [ ]:
import os

# Create a directory for the output files
output_dir = 'cluster_groups'
os.makedirs(output_dir, exist_ok=True)

# Iterate over each group and save to a file
for cluster_label in sorted(grouped_df.groups.keys()):
    group_data = grouped_df.get_group(cluster_label)
    file_path = os.path.join(output_dir, f'cluster_{cluster_label}.csv')
    group_data.to_csv(file_path, index=False)

In [ ]:
group_data

In [ ]:
df